@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
} */

* {
  min-width: 0;
  font: inherit;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, video, svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
    margin: 0;
    min-height: 100dvh;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: pretty;
}

p {
  text-wrap: pretty;
}

.btn-primary {
  @apply bg-blue-600 hover:bg-blue-800 text-white py-2 px-4 rounded transition-all;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded transition-all;
}

.btn-disabled {
  @apply bg-gray-600 text-white py-2 px-4 rounded transition-all;
}

.btn-danger {
  @apply bg-red-500 hover:bg-red-700 text-white py-2 px-4 transition-all;
}




/* TABLES */
.table-sinchi {
  @apply min-w-full divide-y divide-gray-700
}

.table-sinchi-head {
  @apply bg-gray-200 border-b
}

.table-th-header-sinchi {
  @apply px-2 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500;
}

.table-body-sinchi {
  @apply bg-white divide-y divide-gray-200 
}

.row-tabla-sinchi {
  @apply hover:bg-bg-200
}

.table-td-sinchi {
  @apply px-2 py-2 text-sm text-wrap text-text-100 text-ellipsis
}