@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
} */

* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  margin: 0;
  min-height: 100dvh;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: pretty;
}

p {
  text-wrap: pretty;
}

/* LISTAS LONG HTML */

.sinchi-list ul {
  list-style-type: disc;
  margin: 24px;
}

.sinchi-list ol {
  list-style-type: decimal;
  margin: 24px;
}

/* BUTTONS */

.btn-primary {
  @apply bg-primary-300 hover:bg-primary-200 text-white p-2 rounded-sm transition-all shadow-sm;
}

.btn-secondary {
  @apply bg-text-200 hover:bg-primary-200 text-white p-2 rounded-sm transition-all shadow-sm;
}

.btn-disabled {
  @apply bg-gray-600 text-white p-2 rounded-sm transition-all shadow-sm;
}

.btn-danger {
  @apply bg-accent-100 hover:bg-accent-200 text-bg-200 p-2 rounded-sm transition-all shadow-sm;
}

.btn-delete {
  @apply bg-accent-100 hover:bg-accent-200 text-bg-200 p-2 rounded-sm transition-all shadow-sm;
}

/* PAGES */

.pageDefault {
  @apply flex min-h-screen flex-col items-center justify-start z-10;
}

.pageSectionGrid {
  @apply w-full flex flex-col gap-2 justify-start items-start mt-6 p-12;
}

.lineaProgramProjectsSection {
  @apply w-full flex flex-col gap-1 justify-start items-start bg-bg-100;
}

/* TABLES */

.btn-table {
  @apply bg-accent-50 hover:bg-primary-300 text-white p-1 transition-all text-xs leading-tight;
}
.table-sinchi {
  @apply min-w-full divide-y divide-gray-700;
}

.table-sinchi-head {
  @apply bg-gray-200 border-b sticky;
}

.table-th-header-sinchi {
  @apply sticky top-0 px-1 py-2 text-xs font-normal text-center rtl:text-right text-text-200 bg-bg-150 border-l border-bg-300;
}

.table-body-sinchi {
  @apply bg-white divide-y divide-gray-200 text-xs;
}

.row-tabla-sinchi {
  @apply hover:bg-bg-200 h-10;
}

.table-td-sinchi {
  @apply border-l border-bg-300 px-1 py-2  text-wrap text-text-100 text-ellipsis;
}

/* SCROLLS */

/* Carousel projects */

.scroll-container-sinchi-carousel::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scroll-container-sinchi-carousel::-webkit-scrollbar-track {
}

.scroll-container-sinchi-carousel::-webkit-scrollbar-thumb {
  background: #e7e6e0;
}

.scroll-container-sinchi-carousel::-webkit-scrollbar-thumb:hover {
  background: #e7e6e0; /* Color of the scrollbar on hover */
}

.scroll-sinchi::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}
.scroll-sinchi::-webkit-scrollbar-track {
  width: 8px;
}
.scroll-sinchi ul {
  list-style-type: disc;
  margin: 24px;
}

.scroll-sinchi ol {
  list-style-type: decimal;
  margin: 24px;
}

/* TITLES | BANNERS  */

.xBannerPaddings {
  @apply px-3 sm:px-4  md:px-8 lg:px-12;
}

.admin-title-banner {
  @apply w-full mb-1;
}

.admin-title-banner h1 {
  @apply font-bold font-sans text-xl   antialiased leading-tight;
}
.admin-title-banner h3 {
  @apply text-sm font-light leading-tight;
}
.titleBanner {
  @apply max-w-lg font-semibold font-sans text-2xl;
}

.titleBannerFullWidth {
  @apply font-sans text-2xl font-bold tracking-tight  sm:text-3xl lg:text-4xl leading-tight;
}

.sinchiLink {
  @apply pt-1 text-sm text-primary-200 font-extralight transition-colors duration-200 hover:text-primary-100;
}

/* TERMS */

.tagsBannerProject {
  @apply inline-block py-1 px-2 rounded bg-bg-100 text-text-200 text-xs font-medium tracking-widest cursor-pointer hover:text-primary-200 text-pretty;
}

.gridTerms {
  @apply grid gap-y-8 gap-x-12 sm:grid-cols-2 lg:grid-cols-3 w-full;
}

/* OTHERS */
.truncated-text {
  max-width: 60ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* TERMS */
.term-item {
  @apply mr-2 leading-none text-xl hover:text-accent-100 pt-1 hover:underline;
}
