.loader {
    position: relative;
    width: 48px;
    height: 48px;
  }
  .loader:before,
  .loader:after {
    content:"";
    display: block;
    border: 32px solid transparent;
    border-top-color: #FF9800;
    position: absolute;
    left: 0;
    top: 0;
    animation: weld-rotate 2s infinite ease-in;
  }
  .loader:before {
    border-color: transparent  transparent transparent #943a4a;
    animation-delay: 0.5s;
  }
  @keyframes weld-rotate {
    0% , 25% {transform: rotate(0deg)}
    50% , 75% {transform: rotate(180deg)}
    100% {transform: rotate(360deg)}
  }
